h1, h2 {
    text-align: center;
}

html, body {
    height: 100%;
}

#Playground {
    background-color: rgb(249, 255, 158);
    height: 80%;
    border: 5px solid black;
    padding: 0px;
    position: relative;
}   

#Cookie {
    width: 5%;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 0px;
    transition: 1s;
}   

.Amogus {
    width: 5%;
    height: auto;
    margin: 0px;
    position: absolute;
    top: 0px;
    transition: 1s;
}   